:root {
  --mainColor: #95d2b3;
  --secondaryColor: #d8efd3;
  --primaryColor: #f1f8e8;
  --textColor: #55ad9b;
}
.navbar {
  background-color: var(--secondaryColor);
  .navbar-brand {
    color: var(--textColor) !important;
    font-size: 30px;
    font-weight: bold;
    font-family: "Dancing Script", cursive;
  }
  .nav-link {
    color: var(--textColor) !important;
    font-size: 20px;
    font-weight: bold;
    font-family: "Dancing Script", cursive;
  }
}
