.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 30px;
  background-color: #77ab91;
  flex-direction: column;
  color: #d1d1d1;
  ul {
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 10px;
    padding-block: 20px;
    li {
      border-radius: 50%;
      border: 1px solid #d1d1d1;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      transition: 1s background-color;
      &:hover {
        background-color: #d1d1d1;
        a {
          color: #77ab91;
        }
      }
      a {
        color: #fff;
        font-weight: bold;
        font-size: 18px;
        transition: 1s color;
      }
    }
  }
  div {
    .p {
      font-size: 18px;
    }
  }
}
